/*
Theme Name: Bessa Leilões
Theme URI: http://bessaleiloes.com.br
Description: Leilões judiciais, leiloeiro oficial
Author: StamCom
Author URI: http://www.stamcom.com.br
Version: 1.0
*/

/*=======================================================
			THEME STYLING START
========================================================*/
* {
	margin: 0px;
	padding: 0px;
}
body {
	background: #FFF;
	height: 100%;
	width: 100%;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
}
/*=======================================================
			WRAPPER
========================================================*/
#wrap {
	position: relative;
	width: 100%;
	overflow: hidden;
	background: #fff;
}
.container .container {
  width: auto !important;
}
/*=======================================================
			HEADINGS
========================================================*/
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	color: #333333;
	text-transform: uppercase;
}
h1 {
	font-size: 30px;
}
h2 {
	font-size: 28px;
}
h3 {
	font-size: 24px;
}
h4 {
	font-size: 20px;
}
h5 {
	font-size: 18px;
}
h6 {
	font-size: 16px;
}
p {
	color: #777777;
	font-size: 14px;
	line-height: 22px;
	font-family: 'Roboto', sans-serif;
}
a {
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	text-decoration: none !important;
}
img {
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
	display: inline-block !important;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
	color: #757575;
}
/*=======================================================
			SECTION
========================================================*/
section {
	position: relative;
	overflow: hidden;
	width: 100%;
}
/*=======================================================
			BUTTON
========================================================*/

.cmb2-upload-button,
.cmb-form .button-primary,
.btn {
	background: #002b5e;
	text-transform: uppercase;
	color: #fff;
	border-radius: 0px;
	display: inline-block;
	padding: 6px 25px !important;
	margin: 0 auto;
	margin-top: 15px;
	border: none;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.btn-small {
	padding: 5px 30px;
	font-size: 14px;
}
.btn-med {
	padding: 10px 40px;
	font-size: 16px;
}
.btn-large {
	padding: 14px 50px;
	font-size: 16px;
}
.btn:hover {
	background: #ffdd00;
	color: #002b5e;
}
.btn-border {
	background: none;
	border: 1px solid #002b5e;
	color: #002b5e;
}
.btn-border:hover {
	background: #002b5e;
	color: #fff;
}

/*=======================================================
			TITTLE
========================================================*/
.tittle {
	text-align: center;
	display: inline-block;
	width: 100%;
	position: relative;
	margin-bottom: 50px;
}
.tittle h3 {
	margin: 0px;
	text-transform: uppercase;
}
/*=======================================================
			TOP BAR
========================================================*/
.top-bar {
	background: #ffffff;
	border-bottom: 1px solid #eaebef;
	min-height: 41px;
	position: relative;
	overflow: hidden;
}
.top-bar ul {
}
.top-bar ul li {
	display: inline-block;
}
.top-bar ul li a {
	color: #222222;
	display: inline-block;
	padding: 0 10px;
	border-left: 1px solid #dddddd;
	line-height: 40px;
}
.top-bar .left-bar-side {
	float: left;
	max-width: 83%;
}
.top-bar li:nth-last-child(1) a {
	border-right: 1px solid #dddddd
}
.top-bar .right-bar-side {
	float: right;
	max-width: 17%;
}
.top-bar i {
	margin: 0 4px;
}
.menu-conta {background: #333 !important; float: left !important;}
.ul-conta, .nav-conta {margin-bottom: 0px !important;}
.navbar {min-height: 41px !important;border: 0px solid transparent}
ul.right-bar-side {margin-bottom: 0px !important;}


/*=======================================================
			HEADER
========================================================*/
header {
	background: #fff;
	position: relative;
	width: 100%;
	z-index: 999;
	line-height: 0px;
}
header .logo {
	float: left;
	margin: 20px 15px 20px 0;
}
header .ad-header {
	float: right;
	margin: 20px 0;
}
header .ad-header img, .ad-body img, header .logo img, .page-full img {
	max-width: 100%;
	height: auto;
}
header .ad-header a {margin-right: 3px;margin-bottom: 10px;max-width: 100%;height: auto;}

header nav.navbar {
	background: #002b5e;
	min-height: 46px;
	width: 100%;
	position: relative;
	z-index: 999;
	border-radius: 0 !important;
	border: none !important;
	margin-bottom: 0;
}
header nav.navbar li a {
	line-height: 46px;
	text-transform: uppercase;
	color: #fff;
	float: left;
	font-size: 13px;
	padding: 0 20px;
}
header nav.navbar li.active a {
	background: #cccccc !important;
	color: #222222;
}
header nav.navbar li a:hover {
	background: #ffdd00;
	color: #222222;
}
header .navbar .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background: #ffdd00;
	color: #222222;
}

.sub-nav-co {
	float: right;
	position: relative;
	right: 0px;
	width: 170px;
	margin-top: -46px;
	height: 45px;
}
.sub-nav-co a:before {
	content: '';
	width: 0px;
	height: 0px;
	border-style: solid;
	vertical-align: middle;
	margin-right: 5px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 23px 19px 23px 0;
	border-color: transparent #ffdd00 transparent transparent;
	position: absolute;
	left: -19px;
}
.sub-nav-co a {
	background: #ffdd00;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 46px;
	line-height: 46px;
	text-align: center;
	color: #222222;
	text-transform: uppercase;
	font-size: 16px;
}
.nav-post .boder-da-r {
	border-right: 1px dashed #cccccc;
}
.nav-post li {
	padding: 10px 0 !important;
	margin: 0px;
	border-bottom: 1px dashed #cccccc;
	display: inline-block;
	width: 100%;
}
.nav-post .img-nav {
	height: 75px;
	width: 75px;
	float: left;
}
.nav-post .nav-text {
	float: right;
	width: 73%;
}
.nav-post .nav-text a {
	background: none;
	font-size: 13px !important;
	color: #222222 !important;
	line-height: 20px;
}
.nav-post .nav-text span {
	width: 100%;
	display: inline-block;
	margin-top: 10px;
}
.nav-post .nav-big a {
	background: none;
	font-size: 15px !important;
	color: #222222 !important;
	line-height: 20px;
	padding: 0px !important;
}
.nav-post .nav-big img {
	width: 100%;
	margin: 20px 0;
}
.nav-post li a {
	padding: 0px;
	margin: 0px;
}

.navbar.row {margin-bottom: 0; border: none !important;}
.navbar-header span {background: #fff !important;}
.nav-tabs {border: none !important; }


/* ===== Home ===== */
.section1 {background: #eaebef; padding-top: 20px;}
.menu-ao-vivo {background: #ffdd00; color: #002b5e;}
li.menu-ao-vivo a {color: #002b5e !important;}
li.menu-ao-vivo a:hover {background: #cccccc !important;}
.slide-principal {margin-bottom: 30px;}
#slide-image-home {max-height:550px;height: 550px; background-size: cover; background-position: center center !important; background-repeat: no-repeat;}
.ad-body {margin-bottom: 30px;}
.image-destaque-lote {height: 175px;overflow: hidden;}
.image-destaque-lote img {height: 175px; width:auto;}
	.img-dest-lote {width: 100%; height: 100%; background: #eeeeee; text-align: center;}

/*.image-destaque-lote {height: 150px; position: relative; overflow: hidden;}
	.img-dest-lote {width: 100%; height: 100%; background: #eeeeee; text-align: center;}
	.image-destaque-lote img {
		position: relative;
		width: auto;
		height: 150px;
		left: 50%;
		margin-left: -100%;
	}*/

#busca_cep {line-height: 33px;}

/* ===== Pesquisa Home ===== */
.pesquisa-home {margin: 20px 0 0;}
.pesquisa-home-form {width: 100%; margin-bottom: 30px;}
.pesquisa-home-form input { height: 40px; padding: 10px; border: none;}
.pesquisa-home-form input.submit {height: 34px; transition: 0.1s, font-size:12px; color: #fff; display: block; 
	font-weight: bold; background: #002b5e; border: none ;margin-right: 0px; text-transform: uppercase;}
.pesquisa-home-form  input.submit:hover {background: #ffdd00; transition: 0.1s}

/* ===== PAGES ===== */
.page-full {padding-top: 60px; padding-bottom: 60px; }
.page-full p {font-size: 16px; font-weight: 300; color: #777; line-height: 1.8;}
.texto-leiloeiro p {font-size: 18px; font-weight: 300; color: #777; line-height: 2.1;}
.texto-contato p {font-size: 16px; font-weight: 300; color: #777; line-height: 1.5;}
		.conteudo-page-home {padding-top: 15px; padding-bottom: 10px;}
		.sessao3 {padding-top: 30px; padding-bottom: 30px;}
		.sessao3 img {max-width: 100% !important; height: auto;}
		.noticias-home {background: #002b5e; min-height: 50px; text-align: center; padding-top: 12px;}
		.noticias-home h3 {color: #fff; margin: 0}
		.todas-noticias {margin-top: 30px;}
		.imagem-noticia {text-align: center; position: relative; height: 240px;overflow: hidden;}
		.imagem-noticia h3 {height: 70px;}
		.single-noticia-home {background: #eaebef; margin-bottom: 30px;}
		.single-noticia-home img {max-width: 100%; height: auto;}
		.noticia-hover {position: absolute; top:0px; left: 0px; bottom: 0; right: 0; background: rgba(255,221,0,0.7); color: #fff; font-size: 50px; opacity: 0;transition: 0.2s ease-in-out; cursor: pointer;}
		.noticia-hover:hover {opacity: 1; transition: 0.2s ease-in-out;}
		#flutuar-not {position: relative;margin-top:25%;}

		.title-noticia {padding: 0 15px; height: 60px;}
		.title-noticia h3 {line-height: 0.9; text-align: center;}
		.title-noticia h3 a {color: #000; font-size: 18px; font-weight: bold;}
		.title-noticia h3 a:hover {color: #002b5e;}
		.info-noticia {padding: 0 15px 15px; text-align: center;}
		.leiloes p {font-size: 14px; color: #999999; line-height: 1.2;}
		.index-page {padding-top: 30px; padding-bottom: 30px;}
		.index-page img {max-width: 100% !important; height: auto;}
		.index-page p {font-size: 12px; color: #999999; line-height: 1;}
		.page-full-single {background: #eaebef;padding-top: 30px; padding-bottom: 30px; }
		.conteudo-single img {max-width: 100% !important; height: auto;}
		.titulo-single {margin-bottom: 25px;}
		.data { padding: 5px 15px; background: #333; color: #dedede; margin-bottom: 25px;}
		.todas-noticias p {font-size: 12px; color: #999999; line-height: 1.2;}
		.imagem-noticia img {height: 240px !important; width: auto; max-width: 300% !important;}
		
		.section4 {padding-top: 30px; padding-bottom: 30px;}
		/*.section4 img {max-width: 100% !important; height: auto;}*/
		.filtro-leiloes-home {background: #002b5e; min-height: 50px;}
		.filtro-leiloes-home li {display: inline-block; color: #fff; text-transform: uppercase; padding: 15px 5%;height: 50px; cursor: pointer;}
		.todos-leiloes {margin-top: 30px;}
		.imagem-leilao {text-align: center; position: relative;}
		#leilao-todos {color: #002b5e !important; background: #ffdd00; padding-top: 15px;}
		.single-leilao-home {border: 1px solid #cdcdcd; margin-bottom: 30px;}
		.imagem-leilao {margin: 15px;}
		.estado-leilao {color: #fff; background: #ff0000; padding: 3px 15px; text-transform: uppercase; font-size: 12px; margin-top: 15px; float: left; border-radius: 0px 15px 15px 0;}
		.estado-leilao-encerrado {color: #fff; background: #760e21; padding: 3px 15px; text-transform: uppercase; font-size: 12px; margin-top: 15px; float: left; border-radius: 0px 15px 15px 0;}
		.estado-leilao-em-breve {color: #fff; background: #f7991a; padding: 3px 15px; text-transform: uppercase; font-size: 12px; margin-top: 15px; float: left; border-radius: 0px 15px 15px 0;}
		.estado-leilao-liberado {color: #fff; background: #73b035; padding: 3px 15px; text-transform: uppercase; font-size: 12px; margin-top: 15px; float: left; border-radius: 0px 15px 15px 0;}
		.estado-leilao-suspenso {color: #fff; background: #760e21; padding: 3px 15px; text-transform: uppercase; font-size: 12px; margin-top: 15px; float: left; border-radius: 0px 15px 15px 0;}
		.estado-leilao-icon {color:#ff0000; font-size: 24px; float: right; padding-right: 15px; margin-top: 13px; line-height: 0;}
		.estado-leilao-icon-encerrado {color:#760e21; font-size: 24px; float: right; padding-right: 15px; margin-top: 13px; line-height: 0;}
		.estado-leilao-icon-em-breve {color:#f7991a; font-size: 24px; float: right; padding-right: 15px; margin-top: 13px; line-height: 0;}
		.estado-leilao-icon-liberado {color:#73b035; font-size: 24px; float: right; padding-right: 15px; margin-top: 13px; line-height: 0;}
		.estado-leilao-icon-suspenso {color:#760e21; font-size: 24px; float: right; padding-right: 15px; margin-top: 13px; line-height: 0;}
		.title-leilao {padding: 0 15px; height: 70px;}
		.title-leilao h3 {line-height: 0.9; text-align: center;}
		.title-leilao h3 a {color: #000; font-size: 20px; font-weight: bold;}
		.title-leilao h3 a:hover {color: #002b5e;}
		.tilte-leilao-lotes {height: 185px;}
		.tilte-leilao-lotes small {font-size: 10px; text-transform: none; margin-top: 5px; margin-bottom: 5px;}
		.info-leilao {padding: 0 15px; height: 80px; font-size: 12px;}
		.botao-leilao-home {text-align: center; margin-bottom: 30px;}
		#botao-leilao-home {border-radius: 0; color: #fff; padding: 7px 20px; background: #002b5e; border: none;transition: 0.5s; text-transform: uppercase;}
		#botao-leilao-home:hover {background: #000; transition: 0.5s;}
		.codigo-tipo-leilao {background: #eaebef; height: 70px;}
		.tipo-leilao {padding: 9px 15px;}
		.tipo-leilao p {line-height: 1; margin: 2px 0 0 0;text-align: left;font-size: 11px;}
		.leilao-hover {position: absolute; top:0px; left: 0px; bottom: 0; right: 0; background: rgba(0,43,94,0.7); color: #fff; font-size: 50px; opacity: 0;transition: 0.2s ease-in-out; cursor: pointer;}
		.leilao-hover:hover {opacity: 1; transition: 0.2s ease-in-out;}
		#flutuar-lei {position: relative;margin-top:25%;}
		.leiloes img {max-width: 100%; height: auto;}
		.cabeca-tax {margin-top: 30px; padding: 7px 15px; background: #eaebef;}
		.titulo-tax {margin-top: 0px; padding: 4px 15px 8px; background: #dedede; }
		.titulo-tax h4 {color:#002b5e; margin: 0;display: inline-block; position: relative;top: 3px;}

		.noticia-page-single .panel-defaut {margin-bottom: 30px;}
		.noticia-page-single .panel-heading {padding: 0 0 15px 0;}
		.noticia-page-single h3 {margin: 15px 15px 0; text-align: center; font-size: 18px; height: 56px;}
		.noticia-page-single h3:hover {color:#002b5e;}
		.panel-group .panel {border-radius: 0; margin-bottom: 30px;}

.single-form-lance-leilao button {margin-top: 5px; margin-bottom: 15px;}
.single-form-lance-leilao .form-group {margin-bottom: 5px;}


/* === JetPack === */
li a.share-print, li a.share-email {background: #fff !important;}
p.jp-relatedposts-post-context {display: none;}
a.jp-relatedposts-post-a {font-size: 12px; text-transform: uppercase; color:#002b5e; font-weight: bold;}
h4.jp-relatedposts-post-title {font-size: 12px; color:#002b5e; line-height: 1.2 !important; margin-top: 10px !important;}


/* ===== Page Contato ===== */
.formcontact { padding: 3px 15px; width: 100%; border-radius: 3px; border: 1px solid #cdcdcd;}
.formcontact::-webkit-input-placeholder {font-weight: bold; color: #cdcdcd; text-transform: uppercase;font-size: 10px}
.formcontact:-moz-placeholder {font-weight: bold; color: #cdcdcd; text-transform: uppercase;font-size: 10px}
textarea.formcontact {height: 150px;}
.formcontact-sub { background: #002b5e; color: #fff; padding: 5px 25px; border: none; text-transform: uppercase; font-size: 12px; }
	.texto-contato i {font-size: 28px; float: left; color: #002b5e; width: 40px;}
	.texto-contato li {margin-top: 30px;}


/* ===== PÁGINA SINGLE DO BEM ===== */

	/* .page-sidebar-single img {max-width: 100%; height: auto;} */
	.page-sidebar-single {background: #fff; padding-top:30px; padding-bottom: 30px;}
	.ref-leilao {color: #002b5e; padding: 15px 0 10px 30px; }
	.lance-atual {padding: 15px 30px 10px 0; color: #002b5e; text-align: right;}
	.lance-atual span {font-size: 26px; font-weight: bold;line-height: 0; position: relative; top: 4px;}
	.single-titulo-leilao {min-height: 50px; background: #dedede;padding: 20px 20px; width: 100%}
	.single-titulo-leilao h2 {color: #002b5e; margin: 0; font-weight: bold;}
	.single-content-leilao {height: 185px; background: #fff; padding: 15px; overflow-y: scroll; margin-bottom: 15px;}
	.single-content-leilao p {font-size: 12px; line-height: 1.5;}
	.single-content-leilao h4 {color: #002b5e;}
	.single-form-lance-leilao p { color: #002b5e; background: #dedede; padding: 5px 0px; margin-bottom: 1px; text-align: center;}
	.single-form-lance-leilao span {font-weight: bold;}
	.single-form-lance-leilao {background: #fff;}
	.preco-inicial p {margin-left: 15px;line-height: 18px; padding: 5px 0;}
	.preco-atual p {margin-right: 15px;line-height: 18px; padding: 5px 0;}
	.combo-junior {margin-top: 20px;}
	.preco-inicial span, .preco-atual span {font-size: 20px;}
	.insira-o-lance {padding:10px; height: 40px; border: 1px solid #002b5e; margin: 15px 0px 0; width: 100%}
	.de-o-lance {padding:10px; height: 40px; background: #002b5e; color: #fff;border: none; margin:0 0 15px 0; width: 100%;text-transform: uppercase; font-size: 12px; font-weight: bold; margin-top: 0;}
	.linha1 {background: #88cbeb; border-radius: 15px 15px 0 0;}
	.linha3, .linha4, .linha5, .linha6 {margin-top: 15px;}
	.linha3 h4, .linha4 h4, .linha5 h4, .linha6 h4 {background: #cee7f6; margin: 0; text-align: center;color:#002b5e; padding: 8px; font-size: 14px; }
	.conteudo-linha {min-height: 60px; background: #fff; padding: 15px; font-size: 13px; color:#777;}
	.conteudo-linha p {font-size: 13px; color:#777; line-height: 1.5;}
	.small { font-size: 10px; color: #666; margin-top: 15px;}
	.linha2 {background: #fff}
	.opo {text-align: center;}
	.opo hr {margin: 5px;}
	#form_lance {text-align: center; margin-top: 2px; margin-bottom: 15px;line-height: 18px;}
	#form_lance button {width: 32.7%;background: #002b5e; padding: 10px 0; border: none;margin-bottom: 3px; color: #fff; transition: 0.2s;}
	#form_lance button:hover {background: #ffdd00; color: #002b5e; transition: 0.2s;}
	.image-destaque-leilao {height: 355px; margin-left: 15px;margin-top: 15px; position: relative; overflow: hidden;}
	.img-dest-lei {width: 100%; height: 100%; background: #eeeeee; text-align: center;}
	.image-destaque-leilao img {
		position: relative;
		width: auto;
		height: 355px;
		left: 50%;
		margin-left: -100%;
	}
	.local-evento p {display: inline-block;}
	.botoes-adicionais {text-align:center;}
	.botoes-adicionais a {background: #88cbeb; padding: 8px 18px; border: none;margin-bottom: 3px; color: #fff; transition: 0.2s;}
	.botoes-adicionais a:hover {background: #002b5e; transition: 0.2s;}
	#atualizar_val_lance {display: inline-block; margin: 5px 0; padding: 5px 10px; color: #002b5e; transition: 0.2s; font-weight: bold;font-size: 12px;}
	#atualizar_val_lance:hover {background: #002b5e; color: #fff; transition: 0.2s;}
	.lista-lateral h3 {font-size: 18px !important; font-weight: 700; color: #002b5e; border-bottom: 1px solid #dedede;padding-bottom: 10px;}
	.lista-lateral p {font-size: 14px !important; font-weight: 400; color: #777; border-bottom: 1px solid #dedede;padding-bottom: 5px; margin-bottom: 5px;}
	.redes-sociais-lateral {font-size: 20px; color: #777;  padding: 20px; text-align: center; border-bottom: 1px solid #dedede;border-top: 1px solid #dedede;}
	.redes-sociais-lateral span { width: 40px; height: 40px; background: #fff; border-radius: 5px; padding-top: 10px;transition: 0.2s; margin-bottom: 5px;}
	.redes-sociais-lateral span:hover {background: #dedede;transition: 0.2s;}

	.como-participar {background: #eeeeee; min-height: 500px; padding-top: 10px;}
	.menu-participar {display: inline; text-align: center;}
	.menu-participar ul {margin: 0;}
	.menu-participar li {display: inline; text-align: center; margin: 5px 1px;}
	.menu-participar a {background: #002b5e; padding: 5px 15px; color: #fff;transition: 0.2s}
	.menu-participar a:hover {background: #ffdd00; transition: 0.2s}
	#como-participar h3, #o-que-e h3, #dar-lance h3, #finalizar h3 {text-align: center;margin-top: 30px; border-top: 1px solid #2e8ec0; padding-top: 40px;}
	.img-participar {text-align: center;margin: 20px 0 30px;}
	#como-participar p, #o-que-e p, #dar-lance p, #finalizar p {font-size: 14px; color: #777; margin-top: 30px; line-height: 30px}
	#como-participar p span, #finalizar p span {padding: 5px; background: #fff;border:1px solid #cdcdcd; color: #333}
	#finalizar {padding-bottom: 50px;}
	.passo {background: #2e8ec0; width: 250px; border-radius: 15px; height: 34px; padding: 0px 0px 0px 25px; line-height: 34px; font-size: 16px; color: #fff;margin-top: 50px}
	.passo span {float: right; background: #1f6593; border-radius: 0 15px 15px 0;height: 34px; padding: 5px 10px;font-size: 22px;line-height: 22px; color: #fff;}

	.bens-da-lateral {max-height:120px;overflow:hidden;position: relative;}
	/*.bens-da-lateral img {position: relative; left: -10%;} */




/* ===== FOOTER ===== */
footer {min-height: 400px; background: #222; padding-bottom: 15px; padding-top: 0px;}
.footer {background: #111; padding-top: 60px; padding-bottom: 40px;}
.news-footer {text-align: center;}
.news-footer img { max-width: 100%; text-align: center; }
.menu-footer {width: 100%; margin-top: 20px; margin-bottom: 20px;}
.menu-footer li {  }
.menu-footer li a {display:block; color: #e9ebed;text-align: center; padding-top: 20px; padding-bottom: 20px; background: #002b5e; margin-bottom: 3px; transition: 0.5s ease-in-out; text-transform: uppercase;}
.menu-footer li:hover {  }
.menu-footer li a:hover {color: #002b5e;background: #ffdd00;transition: 0.5s ease-in-out;}
.logo-footer h2 {text-transform: none; font-size: 18px; color:#d7d9e0;}
.logo-footer h3 {text-transform: none; font-size: 14px; color:#d7d9e0;}
.assinatura {color:#e9ebed; text-transform: uppercase; font-size: 12px; padding-top: 40px; padding-bottom: 40px; }
.social-icons-footer {margin:20px auto;}
ul.social-icons-footer  {text-align: center;}
.social-icons-footer li.face, .social-icons-footer li.twit {display: inline-block; transition: 0.5s ease-in-out; padding:5px; margin: 2px auto; background: #333; width: 40px; height:40px;text-align: center;font-size: 20px;}
.social-icons-footer li.face:hover {background: #345a98; transition: 0.5s ease-in-out;} 
.social-icons-footer li.twit:hover {background: #00aade; transition: 0.5s ease-in-out;} 
.social-icons-footer a, .social-icons-footer a:hover {color: #fff !important;}

@media screen and (max-width: 1199px) {
	.chosen-single {padding: 6px 13px !important;border-radius: 5px !important; margin-right: 5px; width: 195px;}
	.sf-field-submit input {padding: 18px 45px !important;}
	input.sf-input-text {width: 195px; border-radius: 3px; border: none; padding: 8px 13px;}
	#form_lance button {width: 32.3%;}
	.image-destaque-lote {height: 150px; overflow: hidden;}
	.title-leilao h3 a {font-size: 16px;}
	.info-leilao {font-size: 10px;}

}

@media screen and (max-width: 991px) {
	.chosen-single {padding: 6px 13px !important;border-radius: 5px !important; margin-right: 5px; width: 153px;}
	.sf-field-submit input {padding: 18px 20px !important;}
	input.sf-input-text {width: 153px; border-radius: 3px; border: none; padding: 8px 13px;}
	#form_lance button {width: 32.2%;}
	.filtro-leiloes-home li {padding: 15px 4%;}

}

@media screen and (max-width: 767px) {
	#slide-image-home {max-height:220px;height: 220px; background-size: 767px 220px !important; background-position: center center !important; background-repeat: no-repeat;}
	header .logo {float: none; text-align: center;}
	.lance-atual, .ref-leilao {text-align: center; border-bottom: 5px solid #eeeeee; padding:10px 0;}
	#form_lance button {width: 32.5%;}
	.image-destaque-leilao  {margin-right: 15px;}
	.redes-sociais-lateral {margin-top: 20px;}
	.passo {margin: 50px auto 0; }
	.como-participar {text-align: center;}
	.top-bar ul li a {
		background: #f9f9f9;	
		margin-bottom: 5px;
		border: none;}
	.top-bar .left-bar-side {
	max-width: 100%;}
	.image-destaque-lote {height: 380px; overflow: hidden;}
	.image-destaque-lote img {height: auto; width:auto;}
	.title-leilao h3 a {font-size: 20px;}
	.info-leilao {font-size: 12px;}
	/*.img-dest-lote {width: 100%; height: 100%; background: #eeeeee; text-align: center;}
	.image-destaque-lote img {
		position: relative;
		width: auto;
		height: 350px;
		left: 50%;
		margin-left: -100%;
	}*/
}

@media screen and (min-width: 767px) {
		#o-que-e p {text-align: justify;}
}

@media screen and (max-width: 400px) {
	.image-destaque-lote {height: 240px; overflow: hidden;}
	
}



